[2013-02-01 21:54] 130s opened #1 "Link to python code api is 404 not found"
[From here](http://www.ros.org/wiki/dynamic_reconfigure#dynamic_reconfigure.2BAC8-groovy.Python_API)
[to here](http://ros.org/doc/api/dynamic_reconfigure/html/dynamic_reconfigure.client.Client-class.html)

I've not been able to see this page for a few days. Last time I could see them was probably in early January.

[2013-02-01 22:02] 130s opened #2 "Commandline dynparam takes a few second to do "get""
Example
[code]

As far as experienced, this isn't the case with its python API `dynamic_reconfigure.client.Client` that can get node of 150+ in about 30 secs for `rqt_reconfigure`, which means 0.2 sec per each node (including other GUI tasks). If the same level of speed is realized that would be great.

amd64 Version: 1.5.31-0quantal-20130126-0941-+0000

[2013-02-14 23:41] dirk-thomas opened #3 "Bad output marked as error"
The following line https://github.com/ros/dynamic_reconfigure/blob/master/cmake/gendeps#L62 outputs a message to stderr which is not an error. Than https://github.com/ros/dynamic_reconfigure/blob/master/cmake/cfgbuild.cmake#L71 will prepend "ERROR" to that output which is bad ouput for the user as it is not really a problem.

[2013-02-15 22:12] DLu opened #4 "Using dynparam from C++ code"
As per <a href="http://www.ros.org/wiki/hokuyo_node/Tutorials/UsingDynparamToChangeHokuyoLaserParameters#Using_dynparam_from_C.2B-.2B-_code">the tutorial</a>, using dynparam from C++ code is not implemented.

[2013-04-04 04:46] kalectro opened #6 "parameter name 'i' results in compiler error"
see this link

http://answers.ros.org/question/46724/auto-generated-dynamic_reconfigure-headers-fail-to-compile-depending-on-field-names/

[2013-04-15 20:53] tfoote opened #7 "debbuild of camera1394 seems to be calling rosdep at build time and failng"
http://jenkins.willowgarage.com:8080/job/ros-hydro-camera1394_binarydeb_precise_amd64/2/console

[code]

[2013-04-15 20:57] #7 closed, assigned to dirk-thomas

[2013-06-25 14:00] jbohren opened #10 "generate_dynamic_reconfigure_options() generates files in the source tree"
Currently, dynamic_reconfigure generates config files in the source tree, but shouldn't it do so in the devel tree?

https://github.com/ros/dynamic_reconfigure/blob/master/cmake/cfgbuild.cmake#L56

[2013-08-01 04:14] bit-pirate opened #13 "setCallback() should not trigger the callback"
In my use case I have already set up all parameters from a config file. But they get overwritten with the defaults in the dynamic reconfigure config, when it is set up.

Is it possible to do setCallback without triggering it?

[2013-08-20 07:00] #10 closed, assigned to nobody

[2013-08-21 11:21] Chade opened #16 "Groups not working properly"
Setting up dynamic_reconfigure with groups results in error from rqt_reconfigure:

Here is the error message:

Traceback (most recent call last):
  File "/opt/ros/groovy/lib/python2.7/dist-packages/rqt_reconfigure/node_selector_widget.py", line 250, in _selection_changed_slot
    self._selection_selected(index_current, rosnode_name_selected)
  File "/opt/ros/groovy/lib/python2.7/dist-packages/rqt_

[2013-08-21 11:27] Chade opened #17 "Enums with string constants not working anymore"
rqt_reconfigure does not accept enums with string constants:

The combo box is displayed corrctly, but if a selection is done I get the error:

Traceback (most recent call last):
  File "/opt/ros/groovy/lib/python2.7/dist-packages/rqt_reconfigure/param_editors.py", line 288, in selected
    self._combobox.setCurrentIndex(self.values[index])
TypeError: QComboBox.setCurrentIndex(int): argument 1 has

[2013-08-21 17:42] #16 closed, assigned to nobody

[2013-09-15 16:05] dawonn opened #18 "API Docs link broken"
http://wiki.ros.org/dynamic_reconfigure

The link to the API documentation is broken and I'm not sure where to point it to.

[2013-09-16 21:57] #17 closed, assigned to nobody

[2013-09-16 23:25] #18 closed, assigned to nobody

[2013-12-03 08:31] jensenb opened #21 "Unexpected installation dependency on source location"
While debugging the issue discussed here http://answers.ros.org/question/105771/rqt_reconfigure-runtime-error-osx/ with @MrTatsch we discovered that the installed package has an unexpected dependency on the source directory. It seems that during the python package installation, `$INSTALL_DIR/dynamic_reconfigure/__init__.py` gets generated with a reference to the current source directory, so that w

[2013-12-12 03:12] #21 closed, assigned to dirk-thomas

[2014-04-28 02:41] rocklinsuv opened #25 "Bool_t param issue"
I'm using ROS Electric version. Now I have an issue about the bool_t param.
When I use the GUI, bool_t can be changed from 0 to 1 or the other way around.
However, when I use command-line, I can only change it from 0 to 1 (when default is 0), but not from 1 to 0.

I have an alternative solution for this. I changed bool_t to int_t and set the min_value and max_value to 0 and 1, respectively. But so

[2014-04-28 02:54] #25 closed, assigned to nobody

[2014-05-26 16:07] #1 closed, assigned to nobody

[2014-06-05 17:24] #6 closed, assigned to nobody

[2014-06-18 17:16] catskul opened #28 "auto-generated dynamic_reconfigure headers fail to compile depending on field names"
Moving issue from answers to github:

_The name string cannot be the value "i", "state", or "name" as discussed in this issue:_

http://answers.ros.org/question/46724/auto-generated-dynamic_reconfigure-headers-fail-to-compile-depending-on-field-names/

[2014-06-18 17:18] #28 closed, assigned to nobody

[2014-06-27 00:46] k-okada opened #29 "dynamic_reconfigure failing build on jenkins.ros.org"
http://jenkins.ros.org/view/GbinP32/job/ros-groovy-dynamic-reconfigure_binarydeb_precise_i386/ keep failing, I think
https://github.com/ros/dynamic_reconfigure/blob/master/package.xml#L18 is not good
since ros-groovy-catkin is 0.5.86 (http://jenkins.ros.org/job/ros-groovy-catkin_sourcedeb/)

[2014-07-02 00:38] bpwiselybabu opened #30 "header file generated everytime generate_dynamic_reconfigure_options() is exectuted"
Hi,
I have the tutorial package from http://wiki.ros.org/dynamic_reconfigure/Tutorials/HowToWriteYourFirstCfgFile . Every time I do catkin_make even though the cfg files are not edited the header files are generated. This causes any executables that depend on the header to be rebuilt. I am using ros-hydro on ubuntu 12.04.

bpwiselybabu@bpwiselybabu-Lenovo-IdeaPad-Y580:~/drc_workspace$ catkin_make

[2014-07-02 01:15] #30 closed, assigned to nobody

[2014-07-07 09:14] #29 closed, assigned to nobody

[2014-07-28 19:11] tulku opened #31 "Generated code has BSD boilerplate and Willow copyright"
Currently when dynamic reconfigure generates .h files from cfg files, they are created with:
- BSD Boiler plate
- a 2008 Willow Garage copyright notice
- Blaise Gassend as the author

This is not a big issue, but I think that that text should not be added, or even better make it configurable. The later seems more complex (both in the code and when using dynamic reconfigure), and probably not worth

[2014-07-31 18:35] esteve opened #32 "catkin version of ParameterGenerator should output a more helpful message when invoked incorrectly"
As seen in http://answers.ros.org/question/55647/dynamic_reconfigure-and-catkin-is-tutorial-correct/, `ParameterGenerator` should inform users to add their generator scripts to `CMakeLists.txt` and use the `generate_dynamic_reconfigure_options()` macro, instead of aborting abruptly.

[2014-08-01 15:17] stwirth opened #33 "Default constructed *Config instances should carry default values for all parameters"
When I default construct a (generated) *Config instance in C++ the parameters are not initialized. It would be nice if all the parameters carried the values that are specified as defaults in the *.cfg file.
Right now I call `params_ = MyConfig::__getDefault__()` which does not seem very clean.

[2014-09-02 23:54] skohlbr opened #34 "Parameter oscillation when using rqt_reconfigure"
I have observed this when using dynamic_reconfigure multiple times on completely unrelated robot systems, so I´m pretty sure it´s not just related to a specific setup: Sometimes when changing parameters, they will start oscillating between two different settings, with the slider in the user interface happily alternating between two settings at high frequency. By typing something into the SpinBox i

[2014-09-15 19:49] ibaranov-cp opened #35 "set queue_size=1 on publishers"
hey,

In hydro, queue size is an optional parameter, but is suggested to be used.
I suggest size of 1, but anything would do.

Specifically, lines:
self.descr_topic = rospy.Publisher('~parameter_descriptions', ConfigDescrMsg, latch=True, queue_size=1)

and

self.update_topic = rospy.Publisher('~parameter_updates', ConfigMsg, latch=True, queue_size=1 )

in

/opt/ros/indigo/lib/python2.7/dist-packag

[2014-09-17 13:28] efernandez opened #36 "When using groups, parameters are still in the same scope"
Consider this cfg file:

[code]

The two `enable` parameters will end up here:

[code]

I'm using dynamic reconfigure 1.5.36.
Does the latest (1.5.37) fixes this issue?

Should I simply get rid of those attributes, or are the needed changes more complex than that? I mean, will it be difficult to fix this? or are groups well supported?

[2014-10-01 19:02] dcconner opened #37 "Install uses different name than auto gen header"
The cfg file (e.g. my_parameter.cfg) allows you to specify the name of generated header (e.g. MyParameter) in generate macro, and generates MyParameterConfig, but install  looks for name based off of configuration file name.

Thus, when installing  I get a build error that system can't find my_parameterConfig.h

Work around by naming file the same as macro for now.

[2014-10-02 16:42] dirk-thomas opened #38 "No content on the Indigo wiki page"
http://wiki.ros.org/dynamic_reconfigure

[2014-10-21 22:38] #38 closed, assigned to nobody

[2014-11-11 08:05] cottsay opened #44 "Groups do not maintain order like parameters"
All parameters are enumerated in the order in which they were added during generation. This allows developers to organize their `rqt_reconfigure` layouts. Unfortunately, the parameter group code employs a `dict` to store the groups at one point, so the order is lost.

Location: https://github.com/ros/dynamic_reconfigure/blob/master/src/dynamic_reconfigure/encoding.py#L47-L81

Related: https://gith

[2014-11-15 22:14] cottsay opened #47 "Group configuration is not consistent"
Let me first describe the current group state behaviour:
1. When the `dynamic_reconfigure` client starts, states are initialized to the latest published states from `~/parameter_updates`. The states included in the published states are initialized to those described in the `.cfg` file, so this behaviour is correct.
2. When the consumer of the client attempts to update the state, it sends a configu

[2014-12-15 17:27] #31 closed, assigned to nobody

[2014-12-15 17:45] #35 closed, assigned to nobody

[2015-01-23 01:25] aleeper opened #50 "Many compile warnings due to unused parameters."
The `config_tools.h` header has many used variables, resulting in a lot of compile warnings (on 14.04 with gcc 4.8.2) when we build our own code that includes these headers. This is not production-friendly :(

Lines:
15, 20, 25, 30, 35, 40, 45, 50

Not sure if there's a preferred style in the ROS code base, but I'd recommend commenting out the variable name, e.g.
[code]

Thanks!

[2015-02-10 13:55] b1willaert opened #51 "Unable to reload parameters from a file generated by dumping"
I am using ubuntu 14.04/Indigo from debs.

I am not using grouping. The generated yaml file contains all parameters _twice_ as follows:

[code]

The exact same issue has been posted on the ROS.answers too:
http://answers.ros.org/question/181915/dynamic_reconfigure-unable-to-reload-dumped-parameters/

[2015-02-14 00:58] esteve commented on #50
I just pushed a PR (#52) that should remove the warnings, let me know if it works for you.

Thanks!

[2015-02-14 01:21] esteve commented on #51
Does this only happen with nodelets or with nodes as well?

[2015-02-17 08:37] b1willaert commented on #51
I only tested it with nodes. So yes, it happens with nodes.

[2015-02-23 19:38] #50 closed

[2015-03-03 01:39] mikepurvis opened #53 "Sphinx generator for param documentation"
Inspired by [sphinx-argparse](https://github.com/ribozz/sphinx-argparse), it would be really neat to have dynamic_reconfigure supply a Sphinx plugin to allow automatically generating a documentation page based on inspecting the object defined in a `.cfg` file.

[2015-03-25 21:12] goretkin opened #54 "branches for ROS distros"
Does this master branch work with all ROS distros?

[2015-03-25 21:18] esteve commented on #54
Yes, this repo does not have separate branches for each ROS distro. Please use http://answers.ros.org/questions/ for questions, here we only track bugs and features.

[2015-03-25 21:18] #54 closed

[2015-04-02 17:21] esteve commented on #2
Closing, seems to be fixed in the latest revision of `dynamic_reconfigure`. Please reopen if this bug persists.

Thanks.

[2015-04-02 17:21] #2 closed

[2015-04-02 17:29] #3 closed

[2015-04-02 17:35] esteve commented on #13
Thanks @Faedrivin for your suggestion. Checking for `level == -1` solves the issue, @bit-pirate In https://github.com/ros/dynamic_reconfigure/blob/master/include/dynamic_reconfigure/server.h#L89, the callback is called with `~0`(i.e. `level == -1`).

@bit-pirate please let us know if you'd prefer a different workaround, and please reopen this issue if so. Thanks.

[2015-04-02 17:35] #13 closed

[2015-04-02 17:40] esteve commented on #34
Fixed in `rqt_common_plugins`, please reopen if the bug persists.

Thanks.

[2015-04-02 17:40] #34 closed

[2015-04-02 18:09] #32 closed

[2015-04-02 18:36] esteve commented on #33
I'm not sure if I understand your use case. When a `Server` is created, default values are copied from the templatized *Config class (see https://github.com/ros/dynamic_reconfigure/blob/master/src/dynamic_reconfigure/server.py#L60 and https://github.com/ros/dynamic_reconfigure/blob/master/include/dynamic_reconfigure/server.h#L179 for Python and C++ respectively).

Could you paste a snippet of how

[2015-04-02 20:43] stwirth commented on #33
Why not? I often write a struct to hold a set of parameters for an algorithm and dynamic_reconfigure can generate that struct for me. Very handy.

[2015-04-02 22:16] esteve commented on #37
On a second thought, this isn't actually a bug in the code, but a lack of documentation in ParameterGenerator.generate(). I added a comment about how `name` must match the config file.

Thanks for reporting this.

[2015-04-02 22:16] #37 closed

[2015-05-05 19:42] awesomebytes commented on #4
Anyone interested in implementing it? I was surprised to discover this is not available.

[2015-10-09 16:06] l0g1x commented on #51
Has anyone looked into this issue lately? It would be useful to re-load things like path planner parameters from adjusting values in rqt_reconfigure. param server names may be different from dynamic reconfigure .cfg variable names in some packages, so that might be a issue if one wants to load the dumped dynamic reconfigure yaml to the ros param server, for a quick restart where they left off.

[2015-12-09 17:35] l0g1x commented on #51
Can this one be added to the bug sqaush list? I can look into this but not until friday

[2015-12-09 17:57] esteve commented on #51
@l0g1x sure, thanks for volunteering!

[2015-12-09 18:00] esteve commented on #51
@l0g1x I just added it to the document, please claim it so that we can coordinate better.

https://docs.google.com/document/d/1DPZuBDyUyOVNkKCOtwpo-nxGba7aSJdvP6ncqRZOBEU/edit?usp=sharing

[2015-12-09 18:17] l0g1x commented on #51
Put my name on it!

Also, this may not be the correct place to ask this, but is there a REP or anything in place regarding rosparam and dynamic reconfigure parameter naming conventions? Im not sure if this would be useful for anyone else, but having a feature where you can dump 'tuned' variables using dynamic reconfigure into a yaml, that you then pass to say a launch file which loads the dumped '

[2015-12-20 08:28] wkentaro opened #55 "[feature] New feature to change dynamic parameter with timestamp"
(this issue came from https://github.com/jsk-ros-pkg/jsk_recognition/issues/1444)

I'd like to use dynamic_reconfigure for recognition with timestamp.
Currently, in most cases the config callback does not see the timestamp http://wiki.ros.org/dynamic_reconfigure/Tutorials/SettingUpDynamicReconfigureForANode%28python%29
and dynamic_reconfigure seems to be not designed to do so.

Any idea to fix thi

[2016-01-29 18:18] jacquelinekay commented on #4
this would be great for ros/robot_state_publisher#29...

maybe I'll take a look

[2016-02-13 13:55] mikepurvis commented on #33
We just got bit by this: https://github.com/clearpathrobotics/ros_controllers/commit/f918227e15b863357bb654302563117d636f6230

Seems like no-brainer change to add a one-line constructor to the generated config class, ensuring that config objects are properly initialized upon creation.

[2016-02-13 16:59] efernandez commented on #33
I also think there should be a constructor setting the attributes/params with the defaults. Otherwise after construction the config objects aren't initialized, which IMHO goes against one of the principles of OOP: all methods (including, and especially, the constructor) should always leave the objects in a valid state.

I'm surprised though that the implicit default constructor doesn't do any init

[2016-03-01 05:47] renrut commented on #51
@l0g1x you ever figure it out?

[2016-03-04 09:54] kunaltyagi commented on #4
Any updates? I might be able to help.

[2016-03-10 01:14] bchretien opened #57 "Test fails on Arch Linux"
While compiling `dynamic_reconfigure` on Arch Linux (e.g. with indigo), we get:

[code]

We currently add `-DCATKIN_ENABLE_TESTING=OFF` to avoid the issue. See the [original discussion](https://aur.archlinux.org/packages/ros-indigo-dynamic-reconfigure/) in the AUR.

[2016-03-31 06:47] bit-pirate commented on #4
*upvote* :-)

[2016-05-27 10:15] vagvaz commented on #51
HI I created a pull request it is a simple is not --> != change in the client

[2016-05-31 15:23] awesomebytes opened #62 "Dynamic dynamic reconfigure for python"
I implemented a tiny layer to be able to do a "dynamic dynamic reconfigure" server at https://github.com/pal-robotics/ddynamic_reconfigure_python

It allows to `add` some dynamic reconfigure variables and then just call a `start` method with a callback to have a dynamic reconfigure server running (instead of using a `.cfg` file and all the stuff necessary currently for having the server). Give a l

[2016-05-31 15:54] ibaranov-cp commented on #62
I tired it, quite liked it actually. From a demo/quick prototype phase, very nice to be able to just write pure Python, and still use dynamic reconfigure for tuning.

[2016-06-12 20:44] mikaelarguedas commented on #51
fixed in #61

[2016-06-12 20:44] #51 closed

[2016-06-13 23:06] mikaelarguedas commented on #62
@awesomebytes Nice work, that's a cool feature addition. In order to integrate it to the dynamic_reconfigure package we would need to provide the same feature for c++ to keep the feature set symmetrical. If nobody has time to implement the c++ counterpart, it can be released as a standalone package (like `ddynamic-reconfigure-python`) depending on dynamic_reconfigure.

[2016-06-13 23:11] awesomebytes commented on #62
Internally at PAL we have a c++ version. I'll check if it can be released
somehow :)
On Jun 14, 2016 01:06, "Mikael Arguedas" <notifications@github.com> wrote:

[2016-06-13 23:36] mikaelarguedas commented on #62
Great! thanks

[2016-06-29 19:44] NikolausDemmel commented on #62
I was just looking for something like this and came across this issue. My use-case is exposing the configuration of an existing application to ROS (as a developer interface). The configuration is currently specified programmatically in the source code itself such that all the type information is available at runtime and could be used to feed dynamic reconfigure. Your ddynamic-reconfigure looks lik

[2016-07-27 14:05] lindemeier commented on #51
I am experiencing this issue on Ubuntu 16.04 (kinetic).

[code]

Loading the parameters produces this error:
[code]

Removing the duplicates solves it
[code]

[2016-08-11 23:36] DLu opened #64 "Enum descriptions with single quotes"
If you write an enum description with a single quote and use it in C++, you will get some weird errors.
## example package

[dyn_param_error.zip](https://github.com/ros/dynamic_reconfigure/files/414419/dyn_param_error.zip)
## this works

[code]
## This doesn't

[code]
## Errors

[code]

[2016-08-15 20:45] NikolausDemmel commented on #62
@awesomebytes, any updates on the above?

[2016-08-16 02:46] awesomebytes commented on #62
I'm on holidays, I don't expect to get near a computer soon, sorry!
On Aug 16, 2016 05:45, "Nikolaus Demmel" <notifications@github.com> wrote:

Internally at PAL we have a c++ version. I'll check if it can be released
somehow :)

@awesomebytes <https://github.com/awesomebytes>, any updates on the above?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on

[2016-08-16 03:38] NikolausDemmel commented on #62
Sure, no worries, enjoy!

[2016-10-07 08:23] wkentaro opened #67 "Array parameter for each type (int, double, string, bool)"
I'd like to use array for parameter, and currently it seems not possible.
Anyone who tried this, or are there any ways to achieve this?

[2016-10-08 16:35] NikolausDemmel commented on #62
@awesomebytes, could you somehow get me access to that C++ version?

[2016-10-08 17:00] awesomebytes commented on #67
I personally use a string and then parse its contents from code to form the actual array.

From python you can just evaluate to get it, like (using ipython as example):

[code]

[2016-10-08 17:10] awesomebytes commented on #62
@NikolausDemmel & @mikaelarguedas as spoken personally in ROSCON, I've given you access to a bitbucket repo of the current implementation so we can move it from supporting int's and double's to support all of dynamic reconfigure types (bools, strings, evil_enumerates). Let's see if we can make it work soon and add everything directly to dynamic_reconfigure.

[2016-10-10 02:27] NikolausDemmel commented on #62
@awesomebytes, cheers, I started work on this. Since I need a bit more than just the basic "here is a pointer, please update the variable directly when the reconfigure service is called", I'm considering to take ideas from the currently implementation but effectively write it from scratch. If course I would like to retain the simple use cases in the same style as they are now.

Where would be a go

[2016-10-13 05:24] wkentaro commented on #67
Hmm. I think it's not a fundamental solution.

[2016-10-13 05:29] awesomebytes commented on #67
It's a way to achieve it at least. Dynamic reconfigure has no implementation of an array.

[2016-10-13 06:30] wkentaro commented on #67
I see. Thank you.

[2016-11-11 00:23] jacquelinekay commented on #51
This fix persists in the debian because dynamic_reconfigure needs to be released for Kinetic.

[2016-11-15 15:21] mikaelarguedas commented on #51
The upcoming sync should propagate the fix to the main apt repo for all ros distributions

[2016-12-08 15:44] follesoe opened #69 "Shebang in setup_custom_pythonpath.sh.in"
I've run into some issues while building an arm Docker image to run my ROS application. I think the issue has to do with missing shebang (`#!/usr/bin/env bash`) in the `cmake/setup_custom_pythonpath.sh.in` file.

I think it's related to how Docker executes RUN statements - see http://kimh.github.io/blog/en/docker/gotchas-in-writing-dockerfile-en/ and paragraph on exec format error.

I only run int

[2016-12-08 16:26] Kaju-Bubanja opened #70 "Feature Request: Reconfigure the white balance the same way it is possible in the wxPropView GUI"

[2016-12-22 10:42] poggenhans opened #71 "Infinity not handled correctly in python"
It seems that python dynamic_reconfigure does not handle double parameters properly if the min/max values are not specified. In this case, the values are set to the default `std::numeric_limits<double>::infinity()` which is not understood by python. In the callback, the values are aways set to `std::numeric_limits<double>::infinity()` instead of the actual parameter. This even causes the rqt_recon

[2017-01-03 14:28] mikaelarguedas commented on #71
reproduced locally, thanks for pointing it out

[2017-01-03 15:42] mikaelarguedas commented on #70
Hi @Kaju-Bubanja,
I'm not sure I understand your request exactly. Could you give more context please?

As I understand it, it seems that you want to be able to reconfigure the white balance of a camera, is that right? If that's the case you'll need to expose the white balance parameter in your camera driver or whatever node is publishing the images.
Parameters tunable with `dynamic_reconfigure` ne

[2017-01-04 22:43] ubuntuslave commented on #62
@NikolausDemmel, @awesomebytes, How is it going? Any plans on releasing the C++ version of [ddynamic_reconfigure](https://github.com/pal-robotics/ddynamic_reconfigure_python)?

[2017-01-04 22:50] awesomebytes commented on #62
Hello Carlos,

I haven't looked into it again, it got some interest at the moment but
nothing was finished. Maybe your comment will ping my friends? :)

On Jan 5, 2017 09:43, "Carlos Jaramillo" <notifications@github.com> wrote:

[2017-01-10 07:08] mikaelarguedas commented on #62
I didn't have any time to work on the C++ implementation since we mentionned it at ROSCon. @NikolausDemmel started working on it a while back but I don't know what the status is

[2017-01-16 14:33] CodeFinder2 opened #72 "Allow dynamic_reconfigure to fail/reject a change"
Hi all,

I want to suggest a minor improvment: currently, the callback's return type which updates the parameter is `void`. Thus, **if the provided (new) parameters are invalid and nothing will change, there is no possibility to indicate this**. I would therefore **suggest to change the return type of the callback to `bool`** and pass that information to the underlying `set_parameters` service, se

[2017-01-18 22:19] NikolausDemmel commented on #62
Unfortunatly I didn't ever find the time to continue work here. Concepts I have, and use cases, just no time to implement :-|.

[2017-03-08 22:05] mikaelarguedas commented on #70
without further detail and because the issue doesn't seem to be related to `dynamic_reconfigure` itself I'm going to close this. @Kaju-Bubanja Feel free to comment here and reopen this if you have more details on this issue.

[2017-03-08 22:05] #70 closed

[2017-03-13 14:17] tspicer01 opened #75 "New check of description is causing other ros package to fail"
We are seeing errors running with the latest version of dynamic_reconfigure as the new check is causing failures.   The latest version of ros image_transport_plugins (1.9.5) fails with the following error:

[code]

Is there a way to allow for backward compatibility or before turning the check on ensure that all other packages are compliant?

Any help with this would be appreciated.

@mikepurvis

[2017-03-13 14:44] mikaelarguedas commented on #75
Thanks @tspicer01 for reporting it and the pointer. The check may be too restrictive. I'll perform some testing and get back to you.

[2017-03-13 16:16] mikaelarguedas commented on #75
@tspicer01 @mikepurvis Sorry for the trouble, #76 should fix it, I tried it on desktop_full and it built fine. Can you try it on your side and comment here with your results ? Thanks!

[2017-03-13 17:27] tspicer01 commented on #75
Thanks for the quick response and turnaround.

I've tried it on our end and using your branch from #76 the packages that were failing are now successful.

[2017-03-13 17:29] mikaelarguedas commented on #75
Great, thanks for testing it!

[2017-03-13 17:30] #75 closed

[2017-03-14 00:13] mikaelarguedas commented on #69
@follesoe sorry for the late reply.
It seems to work fine on the [ros buildfarm](http://build.ros.org/view/Kbin_uxv8_uXv8/job/Kbin_uxv8_uXv8__dynamic_reconfigure__ubuntu_xenial_arm64__binary/8/) and locally, could you provide a Dockerfile to reproduce this ? Thanks!

[2017-03-14 06:01] mikaelarguedas commented on #64
Addressed in #74 and #76

[2017-03-14 06:01] #64 closed

[2017-03-14 16:11] progtologist commented on #4
@mikaelarguedas This should also now close :-)

[2017-03-14 16:15] mikaelarguedas commented on #4
indeed, thanks

[2017-03-14 16:15] #4 closed

[2017-03-14 16:21] progtologist commented on #72
You can reject the reconfiguration:
[code]
The reconfiguration parameters are passed by reference, any changes you apply to the them are reflected on the clients as well.

[2017-03-14 16:24] #71 closed

[2017-03-14 18:13] CodeFinder2 commented on #72
Thanks and sorry for the noise!

[2017-03-14 18:13] #72 closed

[2017-03-15 01:06] awesomebytes commented on #4
Great news!

[2017-03-16 15:16] jeffeb3 opened #79 "-Wshadow warnings on generated dynamic reconfigure options files."
I'm on Ubuntu 16.04, ROS kinetic, but this issue also affects my 14.04/indigo machine.

I'm generating config options using `generate_dynamic_reconfigure_options` and it's making a header file with shadow variables, which is important because my nightly build machine uses `-Wshadow and -Werror` flags to build my code.

[code]
Also errors for level, type, name, id, parent

Should be an easy fix.

[2017-03-16 15:36] mikaelarguedas commented on #79
Thanks @jeffeb3 for reporting and fixing this.

[2017-03-16 15:55] mikaelarguedas commented on #79
fixed in #80

[2017-03-16 15:55] #79 closed

[2017-03-16 20:45] jeffeb3 commented on #79
Your welcome. Thank you for merging it so fast. I have a dumb question. How long does it take for this to end up in the apt packages on my machine? If it's more than about a week, I should figure out how to install this from source.

[2017-03-16 21:02] mikaelarguedas commented on #79
I'm planning on doing a new release of this package in the next few days/week, if you are using the main ros repository it will likely take more than a week before being available through apt.
If you want to use the lastest packages released, there is a "testing" repository called [shadow-fixed](http://wiki.ros.org/ShadowRepository) where all packages are synchronized as soon as they are released

[2017-03-17 11:59] bit-pirate commented on #4
@progtologist thanks for this great addition!
@mikaelarguedas could we get a brief update here when (and for what distribution) this has been released?

[2017-03-17 16:12] mikaelarguedas commented on #4
None of the ros_base packages will branch out for lunar. So all new features will be available for every active ros distribution.
A synchronized release will happen in the next few days

[2017-03-23 10:26] JVSelvag opened #81 "getCurrentConfiguration() sometimes fails in new cpp client"
In client.h: getCurrentConfiguration() sometimes fails to get the current configuration from the dynamic reconfigure server if the server has been recently updated with a new configuration.

A call to getCurrentConfiguration() will return when the "received_configuration_" boolean flag is true.
However, this flag is only set to false in the constructor, so getCurrentConfiguration() will only work

[2017-03-23 17:04] JVSelvag commented on #81
Also in client.h: getDescription() suffers from the same problem. Here, the boolean flag "received_description_" is only set to false in the constructor of the Client() class.

[2017-03-23 17:08] JVSelvag commented on #81
However, since the description won't change, getDescription() might work as it is...

[2017-03-23 17:41] mikaelarguedas commented on #81
Thanks @JVSelvag for reporting this. #82 should fix it

[2017-03-23 18:26] #81 closed

[2017-06-08 06:36] allenh1 opened #85 "Compiler Error on Gentoo"
Remember when I said that `dynamic_reconfigure` emerged on Gentoo? Well, it did, but... Not so much anymore (the new ebuild format is pure CMake and doesn't call catkin).

[code]

It goes without saying that this is should only be seen as low priority, but, should you have any ideas, please let me know!

Oh, this might be useful.
[code]

[2017-06-08 06:40] allenh1 commented on #85
What's odd to me is that the module is tyring to import itself... could it be that it's supposed to be installed at this point, and it's not in the python path?

[2017-06-08 07:20] mikaelarguedas commented on #85
duplicate of #57

[2017-06-08 07:20] #85 closed

[2017-06-08 17:27] mikaelarguedas commented on #85
I'm going to leave this closed and comment on the other issue. Thanks for reporting!

[2017-06-08 17:32] mikaelarguedas commented on #57
The problem is IMO that the way we build and test of the buildfarm does avoid this problem (we build and install the package and then build the tests and run them).

The possible solutions are (from the ugliest to the nicest):
- modify the test to append the right location to sys.path so that it can include itself
- use -DCATKIN_ENABLE_TESTING=OFF when building and activate it only for testing
- m

[2017-06-08 17:54] allenh1 commented on #57
@mikaelarguedas Thank you very much. I can confirm the fix is to disable the flag.

[2017-06-10 11:46] CodeFinder2 opened #86 "Allow using dyn. reconfig. with -Werror=float-equal"
Hi all,

I am using dynamic_reconfigure with much stricter compiler settings, namely `-Werror=float-equal` (among others). Unfortunately, this results in errors like:
[code]

One can get rid of these problems in 2 ways:
 1. move all *.cfg files to separate packages and
 2.  "patch" the include directory to generated headers in CMake.

Both solutions are somewhat "hacks". (a) requires to create a n

[2017-07-11 15:08] joshughes commented on #69
Can confirm this issue with qemu and cross compiling

[2017-07-11 15:08] joshughes commented on #69
[code]

[2017-07-11 15:10] joshughes commented on #69
The key here is to be running a command through qemu... which wraps the environment and fails at this bash script

[2017-07-11 20:06] mikaelarguedas commented on #69
Thanks @joshughes for following up. I created #91 to address this. Can you confirm that it solves the issue for you ?

[2017-07-17 21:44] allenh1 commented on #57
https://github.com/ros/ros-overlay/blob/master/eclass/ros-cmake.eclass#L158-L166

This was the fix for me. There's some real inconsisency: on Ubuntu, python libraries all go to the lib folder, but on Arch and Gentoo this is not so. Those lines essentially force the files to map into lib64.

[2017-07-17 21:54] mikaelarguedas commented on #57
@bchretien  I'm going to close this. I cross posted @allenh1 workaround on the original AUR post as well. Feel free to comment here if this is still a problem and we can re-open

[2017-07-17 21:54] #57 closed

[2017-07-17 21:56] mikaelarguedas commented on #57
@allenh1 FYI: I edited the link in https://github.com/ros/dynamic_reconfigure/issues/57#issuecomment-315894131 to point to a specific commit rather than master for this answer to be more future-proof

[2017-07-18 17:29] mikaelarguedas commented on #69
fixed in #91 thanks @joshughes for testing

[2017-07-18 17:29] #69 closed

[2017-11-01 01:22] tannernray opened #94 "Build error with ueye package"
Trying to build package ueye, throw error in trying to import SensorLevels from dynamic_reconfigure

pi@raspberrypi:~/devel/james_ws $ catkin_make
Base path: /home/pi/devel/james_ws
Source space: /home/pi/devel/james_ws/src
Build space: /home/pi/devel/james_ws/build
Devel space: /home/pi/devel/james_ws/devel
Install space: /home/pi/devel/james_ws/install
####
#### Running command: "make cmake_chec

[2017-11-01 01:41] mikaelarguedas commented on #94
Is this 3 times the same console output ? Or is there a difference between them?
It looks like you're building on a pi. can you specify your OS, architecture and ROS Distribution? How did you install dynamic_reconfigure (from source or from binaries)?
Can you find the dynamic_reconfigure python module? (make sure to have dynamic_reconfigure installed and you're workspace sourced before running the

[2017-11-01 16:18] tannernray commented on #94
Yes it was duplicate, I fixed it.

Installed from source

ran snippet

Output:

[2017-11-01 17:23] mikaelarguedas commented on #94
hmm that's interesting so it looks like the package is properly installed and on your pythonpath.
I tried in a container (ubuntu though) and could generate and compile the generated dynamic_reconfigure files successfully (console output below).

Can you try removing ueye from your workspace and build it in an overlay workspace? (to get the full cmake and build output for only this package):
[code]

[2017-11-02 01:09] tannernray commented on #94
After running that python script I tried to build the workspace again, and I could generated and compiled the dynamic_reconfigure files successfully. So I'm not sure what changed...weird.

[2017-11-02 01:27] mikaelarguedas commented on #94
hmmm must be that something was wrong/weird in your environment, maybe your workspace was not properly sourced when you tried to build the first time. The python script you ran was only checking that the package was importable and didnt modify your environment.

Well happy ending then, I'm going to close this. Feel free to open another ticket if you face any other issue with dynamic_reconfigure

[2017-11-02 01:27] #94 closed

[2017-11-04 03:10] deanyanqing opened #95 "Parameter with slash isn't supported"
Cfg generator doesn't support below scenario.For example, there are ros parameter as below
/node/camera/xxx
/node/lidar/xxx
Current generator try to generate c++ variable named as camera/xxx, it definitely failed.

[2017-11-07 22:51] mikaelarguedas commented on #95
Thanks @deanyanqing for your interest in `dynamic_reconfigure`.
Yes `dynamic_reconfigure` supports only parameters of primitive types (no arrays) for parameters having a name following the ROS package naming conventions "a ROS package cannot have special characters other than an underscore, and they must start with an alphabetical character".

This should not happen, the generator [checks this con

[2017-11-08 07:38] deanyanqing commented on #95
Yes, you are right. I put nested parameter into "group"  blindly. As you mentioned  dynamic_reconfigure not supported slash yet. But since ros already introduce yaml, there are quite a lot nested parameter as  /node/camera/xxx. It's better to support such nested parameter.What do you think?

[2017-11-11 17:29] mikaelarguedas commented on #95
I agree with you, as pointed out in my previous comment, if you provide a pull request to add support for slashes in python and C++ I would consider releasing it in the next ROS distribution.

[2017-11-13 01:45] deanyanqing commented on #95
No problem.I will submit pull request as long as get it done.

[2017-11-23 17:07] orzechow opened #96 "Special characters in group name break build"
Special characters like "(" in the parameter group name break the build, but might be desirable to put a short description in brackets.

Example:

    fov_sub = gen.add_group("Field of view (relative to vehicle frame)")

generates C++ classes named `FIELD_OF_VIEW_(RELATIVE_TO_VEHICLE_FRAME)`, which are obviously bad syntax.

To serve the need for group descriptions (that show up in `rqt_reconfigur

[2017-11-24 03:07] linknum23 commented on #62
As mainly a c++ dev I have been interested in adding this for a bit now. @NikolausDemmel it seems like you have some ideas on the implementation and use cases. I am willing to start from scratch on this but if theres something available to start with it might come together faster...

[2017-11-24 19:51] mikaelarguedas commented on #96
Thanks @orzechow for reporting it.

Supporting special characters may be challenging as this would (maybe there is an alternative I'm not seeing) require stripping or substituting such characters and could en up in different groups in the same .cfg to collide as they would result in the same class name.

This sounds good to me. As this would likely break API we would need to make this feature avai

[2017-11-27 00:46] NikolausDemmel commented on #62
@linknum23, I have nothing to base any further work on. Maybe @awesomebytes can give you access to his internal version from a few years ago.

[2017-11-27 05:13] awesomebytes commented on #62
@linknum23 @NikolausDemmel let me give it a try asking.

[2017-11-27 05:38] awesomebytes commented on #62
Ok, I didn't really remember how was the status of this. I added you to a private repository with the partial implementation. The caveats of it:

There is a branch by @NikolausDemmel called niko-devel with some changes.

[2017-11-27 14:29] linknum23 commented on #62
Fantastic. Thanks @awesomebytes! I will start diving into this.

[2017-11-27 14:57] NikolausDemmel commented on #62
Ah, see, I didn't even remember I pushed this :-). Thanks @awesomebytes and have fun @linknum23.

[2017-11-29 15:10] awesomebytes commented on #62
@linknum23 I ignore it it will be useful but an implementation of the dynamic reconfigure client for c++ was merged relatively recently: https://github.com/ros/dynamic_reconfigure/pull/78

[2017-11-29 16:01] linknum23 commented on #62
Thanks, this has the potential to be useful for dd_reconfigure. The c++ client looks well documented.

[2018-01-10 00:35] eric-wieser commented on #36
[This API review](http://wiki.ros.org/dynamic%20reconfigure/Reviews/7/1/11%20Groups%20API%20review%20API%20Review) says that this was a deliberate choicem:

Perhaps then the fix is to add a `unpack_groups=True` argument to `ParameterGenerator` which keeps the current behavior, but which can be overriden.

Alternatively, perhaps a `namespace=True` argument to `add_group`

[2018-01-10 01:18] eric-wieser commented on #36
And one more here:
https://github.com/ros/dynamic_reconfigure/blob/1.5.38/src/dynamic_reconfigure/parameter_generator_catkin.py#L472-L473

[2018-01-10 01:45] mikaelarguedas commented on #36
thanks @eric-wieser for looking into this. I'll reopen this for now and try to have a look in the near future.
As a side note, as it may help you for testing your changes: the parameter_generator.py file is kept for legacy but the one that is used is [parameter_generator_catkin.py](https://github.com/ros/dynamic_reconfigure/blob/master/src/dynamic_reconfigure/parameter_generator_catkin.py).

If yo

[2018-01-10 01:47] eric-wieser commented on #36
I think I meant to look at the catkin one, but when jumping to the version I'm using locally I misclicked

[2018-01-10 02:09] eric-wieser commented on #36
Monkey-patching inside my dynamic reconfigure file as follows seems to make the C++ generators work correctly!

However, it seems that the server / client doesn't know how to use heirarchical names

[2018-01-10 04:29] eric-wieser commented on #36
Tried to do a proper checkout in lunar, but `master` fails silently for me:
[code]

[2018-01-10 04:36] eric-wieser commented on #86
It seems like cmake should be using `SYSTEM` in its includes, which cause warnings to be ignored in the specified files

[2018-01-10 10:19] eric-wieser commented on #86
I think I might be, yes.

[2018-02-26 18:14] lucasw opened #100 "update_configuration needs timeout"
If a dynamic reconfigure server locks up update_configuration never returns.

My client ( https://github.com/lucasw/dynamic_reconfigure_tools/blob/master/rqt_dr_single ) runs update_configuration out of a rospy Timer update callback, this locks up the whole rqt window and turns it gray when the dynamic reconfigure server locks up (does that mean Timer is running in the Qt thread and if so why?).

[2018-02-27 09:20] awesomebytes commented on #62
Hey @NikolausDemmel @linknum23 did you get any work done on this? :)

[2018-02-27 09:37] NikolausDemmel commented on #62
I haven't worked on it... :-/

[2018-03-02 18:43] lucasw opened #101 "C++ dynamic reconfigure server with str_t param ignores numerical strings"
https://github.com/lucasw/dynamic_reconfigure_tools/tree/master/dynamic_reconfigure_example is an example C++ server with a str_t param that it prints out when reconfigured:

[code]

Alphanumeric strings work as expected:
[code]

[code]

The server also happens to be a nodelet, I don't think that is related but I'll create a non-nodelet example server later.

The same thing works fine with a pytho

[2018-03-03 14:34] lucasw commented on #101
It looks like this is a problem with C++ getParam and nothing to do with dynamic reconfigure.

[2018-03-04 01:23] lucasw commented on #101
My current workaround is to use an int type for the dynamic reconfigure value and converting it back to a string inside the reconfigure callback, though this risks a inexact string match in the case of leading zeros (fortunately I'm not dealing with floats).

[2018-03-04 02:00] mikaelarguedas commented on #101
Glad you found a workaround.

Thanks for providing the link to the upstream issue :+1: , that'll be helpful for people running into the some issue and landing on this ticket.

[2018-03-21 07:33] krixkrix commented on #36
If I could, I would upvote this request. I love the grouping feature, but without scope preservation it quickly gets out of hand. I guess #95 is a (partial) duplicate.

[2018-04-09 01:15] mikaelarguedas opened #103 "rostest times out on Debian Stretch and recent ubuntus"
This seem to be Ubuntu Distro related and not ROS Distro related, consistently fails on Debian Stretch, Ubuntu Artful and Bionic.
Example jobs with hanging test: http://build.ros.org/view/Mdev/job/Mdev__dynamic_reconfigure__ubuntu_bionic_amd64/1/
http://build.ros.org/view/Mdev_ds/job/Mdev_ds__dynamic_reconfigure__debian_stretch_amd64/1/

[2018-04-09 10:51] vytasrgl opened #104 "Python3 compatibility"
Current python version is really close to be python3 compatible. Similar to roscomm i think would be great to have it compatible for py3

[2018-04-09 13:52] mikaelarguedas commented on #104
Thanks @vytasrgl for reporting it. Can you point out the parts you identified that are not python3 compatible?

[2018-04-10 05:39] vytasrgl commented on #104
I wasn't able to run full test but having fixed iteritems in: https://github.com/ros/dynamic_reconfigure/blob/17e1d4bf6a538d2def097a7f70b139ccd41e9f78/src/dynamic_reconfigure/encoding.py#L78  i was able to run reconfigure server inside python 3.6.

[2018-04-15 08:38] zchen24 commented on #104
Also parameter_generator.py L180:
                    ret.append(string.upper(x))

string.upper is not compatible

[2018-04-16 05:37] mikaelarguedas commented on #104
thank you both for the feedback!

@vytasrgl : https://github.com/ros/dynamic_reconfigure/pull/105/commits/c03c68f5736f2a9600e8a111688548ee3d653d38 should address the dictionaries issues.

@zchen24: As `parameter_generator.py` has been deprecated since the migration from rosbuild to catkin, I am not planning on making changes to it. If you know of a package that still uses it, please let me know. t

[2018-04-26 23:45] mikaelarguedas commented on #104
with #105 merged I'm going to close this. Feel free to comment here or open a new issue if you find any other incompatibility.

Thanks!

[2018-04-26 23:45] #104 closed

[2018-05-09 12:37] Brudasoe commented on #104
[camera_aravis](https://github.com/ssafarik/camera_aravis/blob/e43cf795875ce7e162ccfad3b1ac3666e4a997f1/cfg/CameraAravisConfig.cfg#L9) still uses `parameter_generator.py`, I have the same remarks as @zchen24 - the string method causes compile errors

[2018-05-09 16:19] mikaelarguedas commented on #104
thanks @Brudasoe for following up.

I'm not opposed to update `parameter_generator.py` to be python3 compliant.
But I strongly recommend submitting Pull Requests to any package you come across that still use the deprecated rosbuild version. As that version is deprecated it is not at feature parity with the supported one and can develop bugs that have been fixed in the supported version

[2018-05-10 08:18] Brudasoe commented on #104
@mikaelarguedas do you have any pointers as to how proceed with updating this code so that it will not use `parameter_generator.py`?

[2018-05-11 16:01] mrsp opened #106 "could not load plugin "rqt_reconfigure/Param""
Hi

Any ideas on the following error when launching rqt_reconfigure:

![a](https://user-images.githubusercontent.com/1980837/39934180-bd35bdfe-554d-11e8-9deb-07a86b72b83a.png)

Thx in advance

[2018-05-15 15:55] lucasw commented on #33
I have the first part of a pr for this, the generated Config .h file now has a constructor like:

[code]

(for https://github.com/lucasw/dynamic_reconfigure_tools/blob/master/dynamic_reconfigure_example/cfg/Example.cfg)

The line number comments came in by default and I would rather not have them, how to get rid of them?

A unit test would be good but haven't looked into that.

Haven't looked at w

[2018-05-18 14:44] lucasw opened #108 "ostream operator << support for Configs"
Print out the contents of a Config object, make this possible:

[code]

[2018-05-23 09:48] krixkrix commented on #95
To me it seems that at least the python part works if only the generator if modified.

if the [check in the generator](https://github.com/ros/dynamic_reconfigure/blob/17e1d4bf6a538d2def097a7f70b139ccd41e9f78/src/dynamic_reconfigure/parameter_generator_catkin.py#L74-L74
) is changed to

`pattern = r'^[a-zA-Z][a-zA-Z0-9/_]*$'`     # forward slash inserted as legal character

... then the python clie

[2018-05-23 17:44] krixkrix opened #109 "decode_config fails for group data"
The decode_config fails for group data.
Can be reproduced by either:

 1. create a cfg that contains groups, then open rqt_reconfigure and save and reload the configuration.
 2. or: create a group with the attribute: type="collapse". Then open rqt_reconfigure and toggle the checkbox for that group.

in both cases the dynamic_reconfigure server fails this way:

I am not sure if it is the client sid

[2018-05-24 13:30] krixkrix opened #110 "Allow parameters to have a display name"
I suggest parameters should have an optional **display_name** attribute.

Currently the **name** attribute is the most suitable text to display in a user interface, but often this means showing very code-near names like **motorx_speed**.

I would like to be able to give a display name for the parameter, e.g. **Motor X speed [mm/s]**

I don't want to use the **description** attribute for this since

[2018-05-29 12:00] wew84 commented on #62
My team and I are encountering these limits to dynamic reconfigure as well. We would would like to build a full python/cpp fix to it. @awesomebytes it would be great to have something to start with. Any chance of getting access to your Bitbucket as well?

[2018-05-29 14:57] awesomebytes commented on #62
@wew84 hello! I can give you access, could you drop me a line of who you are and what you do (maybe by email if you prefer) just to have a reference of who has access to it. I don't own the specific intellectual property of it (even tho I'm allowed to share it privately for the purpose of creating this open source tool) so I need to at least know who you are. Thank you :)

[2018-06-06 11:29] awesomebytes commented on #62
I believe there is a C++ client API already, I'm on mobile so I can't link
it... But it should be in this repo!

And there is a Python dynamic dynamic reconfigure server too (which I
wrote), are you going to rewrite it? Why?

3d configure sounds cool! (3d as dynamic dynamic dynamic? Haha)

On Wed, Jun 6, 2018, 19:26 Noam C. Golombek <notifications@github.com>
wrote:

[2018-06-06 13:00] wew84 commented on #62
Looked more at the source of the repo and see the C++ client API. It doesn't seem to be documented (at least not that I could find), will look into it...

I more meant to write the C++ side and merge the two repos and make sure that they work seamlessly together. No reason to reinvent the wheel.

[2018-06-06 13:03] awesomebytes commented on #62
Sounds great Noam!

Count with me if you need any help with the Python part or we need to
discuss anything to keep the same API. Currently the Python package is a
separate package, so we can expose a similar API in both languages if
needed.

About the C++ client API, documentation, maybe it's time to improve it! Haha

On Wed, Jun 6, 2018, 23:00 Noam C. Golombek <notifications@github.com>
wrote:

[2018-06-06 17:13] mescarra commented on #36
The lack of group namespaces, along with the inability to set a custom label for each param makes the frontend an ugly place for non-developers...

[2018-06-06 17:23] krixkrix commented on #36
Personally I have patched rqt_reconfigure to show the description field in stead of the actual parameter name. This makes the gui so much nicer and makes the group namespace much less important. Actually it makes the group a pure presentation thing, which I personally prefer over the namespace request.

[2018-06-06 17:36] mescarra commented on #36
Did you patch it on your local copy of rqt_reconfigure? Can you show me the `diff` so I do it too? Thanks!

[2018-06-06 18:29] krixkrix commented on #36
Here is how I do it, calling this recursive method. The first call should have the groupwidget to be the top level group widget.

    def apply_non_standard_widget_behaviour(self, groupwidget):
        """
        Dig into the widget structure and manipulate how things are displayed.
        Bad!!! Accessing private variables in widgets!
        """

        for widget in groupwidget.editor_widget

[2018-06-06 18:31] krixkrix commented on #36
But a better solution would be #110

[2018-06-27 22:08] mikaelarguedas commented on #104
@Brudasoe I missed that comment. The way to use the new version is to import `parameter_generator_catkin` instad of `parameter_generator` in the .cfg file. You can find an example at:

https://github.com/ros/dynamic_reconfigure/blob/a574a3b79b49d8efaf6a4a0b748b002026dd64c0/cfg/Test.cfg#L37

[2018-07-03 16:22] OkkeHendriks commented on #10
It is not? I am seeing that the cpp and doc output is generated in source directory.
Using the following in my CMakeLists.txt
[code]

[2018-07-10 17:20] MFernandezCarmona commented on #10
I can confirm that behaviour. How are we supposed to include those cpp and h files in the corresponding nodes?

[2018-08-06 14:04] krixkrix commented on #103
On debian stretch this test fails for me as well:

Or to be accurate: all tests passes but the test itself times out.

If I change this line in test_client.cpp:

`ros::AsyncSpinner spinner(2);`

To:

`ros::AsyncSpinner spinner(1);`

...then the tests succeeds.

[2018-08-14 07:09] xieshuaix opened #115 "undefined reference to `dynamic_reconfigure::__init_mutex__'"
Hi, I got an error "undefined reference to `dynamic_reconfigure::__init_mutex__'" while compiling a node using dyanmic reconfigure. It seems that this has something to do with linking between TestConfig.h, config_init_mutex.h and dynamic_reconfigure_config_init_mutex.cpp when compiling the dynamic_reconfigure package. Anyone has any idea how to fix this? Thanks!

[2018-08-25 14:58] snakehaihai opened #116 "mutex lock error"
Hey i`m trying to run a code which calls for dynamic reconfgure. build has no issue. in previous 12.04 os has no issue. but once shift to 18.04. we encounter this error

demo_flight_control: /usr/include/boost/thread/pthread/recursive_mutex.hpp:113: void boost::recursive_mutex::lock(): Assertion `!pthread_mutex_lock(&m)' failed.
^CAborted (core dumped)

right after calling dynamic_reconfigure::Ser

[2018-09-12 18:49] jubeira opened #117 "CPP client compile error with [-Werror=reorder]"
When including `dynamic_reconfigure/client.h` in a project with `reorder` error flag (or `-Wall`) a compile time error occurs. This is the output cleaning up unnecessary details:

[code]

This is because the `NodeHandle` is initialized before `received_configuration_` boolean in the constructor, but it is declared afterwards in the private variables. I'll send a small PR with the fix.

[2018-09-14 21:27] mikaelarguedas commented on #103
thanks @krixkrix for looking into it!

I opened https://github.com/ros/dynamic_reconfigure/pull/119 that should address the test failure without modifying the number of threads used by the spinner.

[2018-09-14 21:29] #103 closed

[2018-09-14 21:31] mikaelarguedas commented on #115
@xieshuaix thanks for reporting the issue. Do you happen to have a reproducible example?
Ideally a package to clone and a series of steps to build it and experience the build failure. A build log would also be helpful to know what's missing

[2018-09-14 21:33] mikaelarguedas commented on #116
@snakehaihai can you please provide a reproducible example? this issue description is unfortunately not sufficient to investigate the issue.

Thanks!

[2018-09-15 00:20] mikaelarguedas opened #120 "remove deprecated parameter_generator.py"
This was for rosbuild and shouldn't be used anymore.

This will allow to get rid of the duplicated code and keep a single generator to cleanup and test on Ppython2/3.

TODO for ROS Noetic with a prerelease on all existing packages and update the ones that still use it

[2018-09-18 19:32] mikaelarguedas commented on #110
Having a display_name is a good idea!

The approach in #112 sounds good.

Some things to take into account / modify:
even if the default value of the field in the .msg file is an empty string, this changes the message definition, the md5sum of the msg definition and likely the tcp packets, so we will have to:
- define [rosbag migration rules](http://wiki.ros.org/rosbag/migration#Preferred_Approach

[2018-09-21 16:20] flixr commented on #62
I'm also quite interested in this... any updates here?

Didn't even know the pal-robotics dynamic dynamic_reconfigure, but I basically also implemented something similar in python.
Now we would want to use this in some of our C++ nodes as well, so before I start implementing the same again...

[2018-09-21 16:34] wew84 commented on #62
Our C++ side is finished, and created a pull request to @awesomebytes repo. I haven't had time to discuss further changing the Python API, but would be happy to discuss it.

The C++ side of 3d_reconfigure is also done and can be found [here](https://github.com/wew84/3d_reconfigure).

[2018-09-30 12:55] flixr commented on #62
@wew84 sorry, but which repo exactly do you mean?
Seems it is not https://github.com/pal-robotics/ddynamic_reconfigure

[2018-10-02 03:03] awesomebytes commented on #62
@flixr I wasn't aware PAL Robotics released a version, I had a private copy I had permission to share with interested people to develop a fully working solution. And that's what I did with @wew84 @NikolausDemmel @linknum23

Now I presume I can open publicly the repo (please confirm @v-lopez even tho I contacted you thru other means) as they share the same commit history up until the latest version

[2018-10-02 07:32] v-lopez commented on #62
Yes @awesomebytes no problems in publishing it now.

I've glanced over @wew84, and my impression is that its purpose and use differs significantly.

Our view of ddynamic_reconfigure was to make it less verbose to use (probably some documentation about it on our side  would've made it more evident).

So for instance:
[code]

These 5 lines will make the int_variable modifiable from the standard dyna

[2018-10-02 16:54] v-lopez commented on #62
Thanks for clarifying, but from my understanding, you still need to define a callback and in the code of that callback associate write it to the variable.

It may not seem much but it makes it so much more comfortable to use. We can try to merge your changes into ours, but at the moment we cannot afford to break our API.

[2018-10-02 17:19] Noam-Dori commented on #62
@v-lopez there is no need to declare a callback.
Instead of doing ``dd.start(callback);``,
you can write ``dd.start();``

I don't believe any of the changes will break the API which cannot be fixed via refactoring & renaming.

If there are any other issues be sure to let me know

[2018-10-02 17:32] v-lopez commented on #62
If there is no callback how do you receive the modified values? Do you need to query the dd object?

[2018-10-02 17:41] v-lopez commented on #62
Feel free to open a merge request and we can discuss this there, and see how we can make it work.

[2018-10-02 18:06] Noam-Dori commented on #62
First, the modified values are automatically changed whether or not a callback exists. This behavior is defined both in the original dynamic_reconfigure (for C++ at least) and in the original code of ddynamic_reconfigure. The callback is an extra.

From there, there are two additional ways to fetch the modified values: directly from the DDynamicReconfigure instance, or via a callback.

if you want

[2018-10-03 06:22] v-lopez commented on #62
In the code segment I posted, you'll see that in our API you are able to provide a pointer to the variable that you want to modify via the ddynamic_reconfigure. So that is the convenience I was referring, that you don't need a callback, or a get function, to get the new values.

About the API, we have been distributing this to our customers for years, we cannot ask all of them to update their code

[2018-10-03 14:25] awesomebytes commented on #62
I'd like to note that there may be ways of extending the Python version to also replicate C++ capabilities. I personally like the idea of adding an already existing variable to a DynReconf server... I've toy-played with an implementation but I haven't had time to get into anything that works and it's as friendly to use. After the 10th of October I may revisit all this.

[2018-10-04 05:58] Noam-Dori commented on #62
Ok, I now understand the issue at hand.

Luckily, the generic parameter class may have multiple implementations and extensions, some of which can support both the legacy implementation of parameter registration and the current one:
To simulate the pointer strategy we can extend any instance of ``DDParam`` to a sort of ``DDPointerParam``. For example, here I implemented two ways to do so for intege

[2018-10-15 05:13] doronhi commented on #62
Hi @wew84,
Is a python version also available? I couldn't find it.

I did:
`
sudo apt-get install ros-kinetic-ddynamic-reconfigure-python
`
but got an empty package (from: http://packages.ros.org/ros/ubuntu xenial/main amd64 ros-kinetic-ddynamic-reconfigure-python amd64 0.0.1-0xenia)

[2018-10-15 05:35] awesomebytes commented on #62
@doronhi The main repo  is at https://github.com/pal-robotics/ddynamic_reconfigure_python

Hmm it's weird you got an empty package. I just tried in a fresh machine to do your command and it installed correctly. I could run `rosrun ddynamic_reconfigure_python example.py` successfully

[2018-10-15 06:44] doronhi commented on #62
I did catkin_make and now it works.
Do you know if it also works with ROS2?

[2018-10-15 21:36] alain-m opened #126 "Allow specifying parameters as 'required' in the cfg"
`dynamic_reconfigure` provides convenient features to set parameter values after the initialization of the node, but also to have parameter changes mirrored with the parameter server. This last feature has contributed to the widespread use of `dynamic_reconfigure` in replacement of many .yaml config files and `getParam(...)` calls in various projects I have worked on. Of course only one default va

[2018-10-22 19:07] user1409 commented on #115
I am experiencing the same problem, has there been any fix so far? Have you solved the problem yourself @xieshuaix ? Would be really glad for some advise, what to try

[2018-10-25 02:12] xieshuaix commented on #115
@mikaelarguedas Thanks for your reply. I managed to get it working. What causes the problem is that the library was not properly linked.

[2018-10-25 02:17] xieshuaix commented on #115
@user1409 I fixed the issue. You could try double checking if the library is linked or not (i.e. if using cmake, find_package(dynamic_reconfigure)).

[2018-10-25 14:07] user1409 commented on #115
@xieshuaix thank you for your answer. I already triple checked it. Am I missing something?

Added it here:
find_package(catkin REQUIRED COMPONENTS
  roscpp
  std_msgs
  sensor_msgs
  dynamic_reconfigure
  message_generation
        )

Put in my cfg-File at "generate_dynamic_reconfigure_options"

And made sure it is build first:
add_dependencies(my_pkg ${PROJECT_NAME}_gencfg)

Still got this error.

[2018-11-05 09:58] Chrislzy1993 opened #127 "hope can add a new feature"
sorry, it is not a issue, just an advice.  if you can add a button which can change the value by a constant value, or this package have this function,   where can i find it

[2018-11-08 16:27] mjcarroll commented on #127
This package is used for adding `dynamic_reconfigure` capabilities to a ROS node.  That is to say that it provides a mechanism for firing callbacks when parameters are changed external to the ROS node itself.

You could create an additional executable that implements the behavior you describe using dynamic_reconfigure.

In the future, these type of questions are best asked on answers.ros.org, per

[2018-11-08 16:27] #127 closed, assigned to nobody

[2019-01-12 15:23] snakehaihai commented on #116
I answer the question myself.  Reformat PC. Reinstall everything. Problem Solved :)

[2019-01-23 13:43] jmg1010 opened #128 "missing md5Checksum in ros::service::call"
Hi, when I try to do a ros::service::call (as descirbed here: http://ros-robotics.blogspot.com/2016/03/controling-dynamic-reconfiguration-from.html )
with a dynamic_reconfigure::ReconfigureRequest I get a compile time error that the __getServerMD5Sum" member function is missing.

[2019-01-23 13:51] #128 closed, assigned to nobody

[2019-01-24 21:37] kejxu opened #130 "melodic-devel is not the default branch"
`melodic-devel` is not set as the default branch, this leads to confusion while creating pull requests; also it's a bit confusing to track the actively developed branch since the current default (`master`) is not

reference: https://help.github.com/articles/setting-the-default-branch/

[2019-02-19 04:02] ben2789 opened #133 "C++ callback arguments"
I am trying to use dynamic configure to set some camera parameters. I would like to pass a pointer to the camera object into the callback, so that I can use it's methods for setting the camera values. Is it possible to pass additional arguments to the dynamic reconfigure callback?
Callback:
[code]

Binding:
[code]

ideal callback:
[code]

[2019-02-20 22:19] #133 closed, assigned to nobody

[2019-02-20 22:19] ben2789 commented on #133
using bind properly makes this not an issue.

[2019-03-19 14:58] Cryptum169 commented on #106
I ran into the exact same error traceback. How did you solve it? @mrsp

[2019-03-19 15:01] mrsp commented on #106
I didn't

[2019-03-19 15:33] Cryptum169 commented on #106
@mrsp I think I have solved it. I was using dynamic_reconfigure for a plugin. The error came up because there's a registered dynamic reconfigure yet the node cannot be found (as it is "hiding" under another architecture of code), so the name goes empty and generates the error. I resolved the error by giving the node handle a specific name.
`ros::NodeHandle nh;`
vs
`ros::NodeHandle nh("~/" + name);

[2019-08-06 08:18] Kaju-Bubanja commented on #51
This issue still exists in melodic, any release schedule for this issue?

[2019-09-11 13:48] mjcarroll commented on #130
Fixed, thank you.

[2019-09-11 13:48] #130 closed, assigned to nobody

[2019-09-11 13:50] mjcarroll commented on #115
It sounds like this is resolved via correct library linking.  @user1409 if you are still experiencing this, feel free to open an additional issue.

[2019-09-11 13:50] #115 closed

[2019-09-25 12:41] rickstaa commented on #36
+1 This would be a very useful feature.

[2019-09-28 19:33] VorpalBlade opened #142 "Parameter description containing quotes are not properly escaped in generated C++ file"
Using ROS Kinetic, if a parameter contains quotes in the description:
[code]

Then this results in invalid C++ code in the statics section:

[code]

Note that the quotes are not properly escaped in the C++ code.

[2019-10-29 17:39] atyshka commented on #116
I too have this issue, following some code on ROS answers. My class has a private member of a `boost::recursive_mutex` and here's my constructor:

`LabelingNode::LabelingNode(ros::NodeHandle& n, ros::NodeHandle& pn)
  : config_server_(config_mutex_)
{
  boost::recursive_mutex::scoped_lock dyn_reconf_lock(config_mutex_);
  dyn_reconf_lock.unlock();
  config_server_.setCallback(boost::bind(&Labeling

[2020-01-14 21:21] 130s commented on #51
My team has been troubled with this issue (and potentially other issues regarding `dump` feature) for a few years and internally have come up with a workaround, which has been causing a great amount of technical debt and new issues.

#61 seems to have become available since [1.5.44 on Kinetic](http://docs.ros.org/kinetic/changelogs/dynamic_reconfigure/changelog.html) back in 2016 (I'm on ROS K) bu

[2020-02-18 07:58] m-naumann opened #147 "Disable parameter change by scrolling"
First of all thanks for the nice and handy tool.

One issue I frequently run into is that parameters are changed when scrolling up or down and being over dropdown menus or bars. Is it possible to disable changing the parameters via scrolling?

[2020-03-19 11:28] hexonxons opened #150 "Misorder of SYSTEM/BEFORE option in include_directories in cmake/dynamic_reconfigure-macros.cmake"
There is an error introduced in commit https://github.com/ros/dynamic_reconfigure/commit/c70637975dc7cd8f765efb6bd8fd57b1f0a75d05 at line https://github.com/ros/dynamic_reconfigure/blob/c70637975dc7cd8f765efb6bd8fd57b1f0a75d05/cmake/dynamic_reconfigure-macros.cmake#L118

According to [include_directories](https://cmake.org/cmake/help/latest/command/include_directories.html#command:include_director

[2020-03-19 11:32] hexonxons commented on #150
@mjcarroll Could you possibly review PR and release a fixed version to melodic asap?

[2020-03-19 12:46] #150 closed, assigned to nobody

[2020-03-19 12:46] mjcarroll commented on #150
Good catch, thanks for the patch.

[2020-03-19 18:27] ros-discourse commented on #150
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/preparing-for-melodic-sync-2020-03-12/13207/12

[2020-05-07 08:28] dupeljan commented on #115
Same error so far. My CMakeLists.txt:

cmake_minimum_required(VERSION 3.1.0 FATAL_ERROR)
project(CartConrolPlugin)

# Generate code from our own custom messages
# find_package catkin and genmsg, required for message generation macros
find_package(catkin REQUIRED COMPONENTS dynamic_reconfigure)
find_package(genmsg REQUIRED)
# Enumerate our custom messages files
add_message_files(DIRECTORY ${CMAKE_C

[2020-05-07 08:41] dupeljan commented on #115
According to [this question](https://answers.ros.org/question/252008/dynamic_reconfigure-tutorial-problems/), I found solution.

As it was used [here](https://github.com/azhar92/scooter-mode/blob/master/CMakeLists.txt), you just need to add this line for proper compilation:

set_target_properties(dynamic_tutorials_server PROPERTIES LINKER_LANGUAGE CMAKE_py_LINK_EXECUTABLE)

[2020-05-07 09:49] dupeljan opened #155 "Undefined reference to `dynamic_reconfigure::__init_mutex__`"
Still experience same error as here #115:
Undefined reference to `dynamic_reconfigure::__init_mutex__` .

Here is my CMakeLists.txt :
[code]

[2020-05-07 14:02] dupeljan commented on #155
Solve link problem:
[code]

Just need to add  ${catkin_LIBRARIES}

[2020-05-07 14:02] #155 closed, assigned to nobody

[2020-06-11 17:28] cottsay opened #158 "Enum values are never validated"
* The `dynamic_reconfigure.client.Client` class currently propagates changes to enum values that are not one of the defined values for the enum.
* `rosrun dynamic_reconfigure dynparam set ...` allows a user to set an invalid value.
* The C++ server also accepts the invalid values, which means that users must manually check the validity of the config.

I'm not sure it would be safe to add these che

[2020-08-26 15:45] iamrajee opened #162 "'ImportError: No module named client' while importing dynamic_reconfigure.client"
I'm trying to import `dynamic_reconfigure.client` in python as below
[code]
But I'm getting `ImportError: No module named client`. If I only import `dynamic_reconfigure` and try to call `dynamic_reconfigure.client` then I'm getting `AttributeError: 'module' object has no attribute 'client'` error.

I've also added dynamic_reconfigure in CMakeList as
[code]
My system information is
**OS**: Ubuntu 1

[2020-09-27 08:42] caijimin opened #163 ""error updating parameters: don't know parameter" when invoke "rosrun dynamic_reconfigure dynparam load""
We use ```ros-kinetic-dynamic-reconfigure  1.5.49-0xenial-20180316-113241-0800```.
And occasionally ```rosrun dynamic_reconfigure dynparam load``` command reports ```error updating parameters: don't know parameter xxx```. After spent some time to investigate the symptom, I think race condition exits in ```src/dynamic_reconfigure/client.py```
[code]
Line 185 "error updating parameters: don't know p

[2020-11-04 08:04] szalik-m commented on #163
+1 to this issue. It appears more often if you use longer parameter list, which, indeed, can explained by running time of 333 ~ 338 lines.

[2020-12-02 12:07] martinakos opened #166 "dynparam set_from_parameters usage confusing"
I think I need a clarification.

The description of dynparam set_from_parameters node_name is:
"Load the configuration for a node from the Parameter Server."
I guess that means to set the dynamic reconfigure parameters from a node with the corresponding parameter values in the parameter server for that node.

In contrast dynparam shows this example usage which includes a parameter asignment:
Examp

[2021-02-23 23:25] Luke1962 opened #170 "parameter_generator.py", line 189: string.join() method no more available in python3.7 (ros noetic)"
Under Armbian Buster with python3.7 and ROS Noetic , during catkin_make of   packages using dynamic_reconfigure, the following error occurs:

[code]
According to
[StackOverflow answer](https://stackoverflow.com/questions/17451942/string-module-object-has-no-attribute-join/17452041), It could be  removed replacing string.join(cls, "::") with "::".join(cls)

[2021-03-25 13:13] Teusner opened #172 "Default value and group reconfigurable variable"
Hi,

I recently had an issue with using default values of variables in groups.

The problem is visible in the shell below. When we want to set a default value for a parameter belonging to a group, the initialization of this parameter is not possible if we try to access the default value with:

[code]

But it is quite possible to access this default value via:

[code]

[code]

This inconsistency is

[2021-04-07 12:10] YoushaaMurhij commented on #172
same here!

[2021-05-18 15:38] ashnap123 opened #176 "Parameter description messages serialising to incorrect length on Arm"
### Issue

On serialising the parameter description message for custom configs the serialised message is much larger than expected causing network saturation everytime a client connects. This issue only seems to be present when a config has multiple parameters of the same type and the server is run on ARM in Release.

|Language | Arch | Build | Serialised Bytes | Deserialised Message |
| ------ |

[2021-06-25 08:54] PPeltzer opened #179 "Recent versions of PyYAML break dynamic_reconfigure_load"
There seems to be recent API changes in [PyYAML](https://pypi.org/project/PyYAML/) (either starting at 5.3.1 or 5.4) which will cause `dynamic_reconfigure_load` to crash on Ubuntu 20.04 with ROS noetic.

Given this example `dynamic_reconfigure` setup:

[code]
and an input `config.yaml` file exported by `rqt_reconfigure`:

[code]
Loading in this file from a `.launch` file:
[code]

Results in the fo

[2021-07-23 15:51] 130s commented on #100
I'm also seeing a `rospy` client hanging up as well. My client isn't running in `Timer` callback either. In `rqt_reconfigure` I don't find it called from Timer's callback either though (it's a shame as an original author almost 10 years ago what was my thought in doing that).

@lucasw Do you remember how you ended up solving/working this around?

[2021-08-18 02:32] Gowresh-MARC commented on #162
Hello,

Was this issue solved? I a m getting the same error and i am using melodic in ubuntu 18.04 as well.

I tried the same script in noetic in Ubuntu 20.04 and it works perfectly there.

[2021-08-18 04:46] iamrajee commented on #162
@Gowresh-MARC No, it wasn't resolved. I tried the following ways to import clients in my[ code](https://github.com/iamrajee/slam_rosmelodic_ws/blob/master/src/test_slam/scripts/dynamic_reconfigure.py):
[code]
But it dint helped. Thanks!

[2021-08-18 11:41] MatthijsBurgh opened #181 "Include order messed up"
I had a custom version of a pkg, including `dynamic_reconfigure` configs, in my workspace. Though I also had the released apt version installed on my machine. The customized configs had additional attributes compared to the system version. During compilation it would raise errors of missing attributes.

In the `CMakeLists.txt`, the `catkin_INCLUDE_DIRS` were added as normal includes. `/opt/ros/ROS

[2021-08-18 15:04] MatthijsBurgh commented on #162
No need to import roslib and load the manifest.

I think your PYTHONPATH is incorrect. So print that, best inside your script

[2021-08-18 20:34] iamrajee commented on #162
++

[2021-08-19 01:59] Gowresh-MARC commented on #162
These are my PYTHONPATHS:-

`['/home/marc/linorobot_ws/devel/lib/python2.7/dist-packages', '/opt/ros/melodic/lib/python2.7/dist-packages']
`

[2021-08-19 06:57] MatthijsBurgh commented on #162
Do you have any version of `dynamic_reconfigure` in your own ws? Or only the system installed version?

To be sure, try the following
[code]

[2021-08-20 14:33] xbroquer commented on #179
you can try #178

[2021-09-04 19:47] MatthijsBurgh commented on #181
Fiendly but serious ping ;)

[2021-09-04 19:51] MatthijsBurgh commented on #181
I think this is related to #140 #182.

I think the implementation before #182 was correct, but required some additional documentation.

[2021-09-24 19:26] venabled commented on #176
Just for reference, we've seen what I'm assuming is the results of this, in production, on arm64

[2021-09-28 13:15] albertgassol1 opened #183 "Fail in yaml.load_all()"
When running the dynamic_reconfigure the process dies with the following error: `yaml.load_all() without loader=... is deprecated`

I had to change line 162 from `for doc in yaml.load_all(f.read()):` to `for doc in yaml.load_all(f.read(), Loader=yaml.Loader):`
With this change everything works properly.

[2021-10-05 08:41] MatthijsBurgh commented on #181
@mjcarroll I do think that #182 is no the correct way to go. It is indeed the easier solution for the user, but still not correct IMO.

So either revert #182 and add documentation on this issue or release the current version. As by just merging the PR the problem is not solved, as most people use the released version.

[2021-10-07 15:52] mjcarroll commented on #181
@MatthijsBurgh Sorry for the delay, I'll take a look at this today.

[2021-10-15 14:22] MatthijsBurgh commented on #181
@mjcarroll any update?

[2021-11-17 12:05] MatthijsBurgh commented on #181
@mjcarroll ping ;)

[2021-12-19 16:54] MatthijsBurgh commented on #181
@mjcarroll friendly ping ;)

[2021-12-24 18:24] knorth55 commented on #181
@MatthijsBurgh
I had build issue introduced in #140 , and solved by #182 as #152.
#140 uses `/opt/ros/` include directories even for workspace build, which causes build error.
Just reverting #182 causes the build error again, I think.

FYI:
https://discourse.ros.org/t/preparing-for-melodic-sync-2020-03-12/13207/7
#151
#152

[2022-01-12 21:58] OAkyildiz opened #185 "Iterating Params (C++)"
The Python API can access the params through a dictionary. Can the C++ API do the same? In one of the generated superclasses, there is at least an `std::vector`, but upon inspection, I  think they are not exposed. Any insight would be appreciated

[2022-01-27 10:06] rokusottervanger opened #186 "C++ client lacks a tutorial"
The C++ client could benefit from a decent tutorial on ROS wiki, like the server implementations and the Python client.

[2022-01-27 10:16] rokusottervanger opened #187 "C++ client: race condition when calling setConfiguration and getCurrentConfiguration from callbacks"
I have an application where I want to call `getCurrentConfiguration` and `setConfiguration` from (different) callbacks. These may be called at arbitrary times, in arbitrary order. I'm running with a normal (single threaded) spinner.

The problem can be understood like this:
 - One callback calls `setConfiguration` on the client. This resets the `received_configuration_` flag to `false`.
 - The ser

[2022-02-01 18:42] Ecophagy commented on #176
This looks like it could be a gcc compiler issue, the same as https://github.com/ros/ros_comm/issues/2197 & https://github.com/ros/roscpp_core/issues/130

Work around would therefore be to upgrade gcc version or compile not in release mode (using -O2 instead of the implicit -O3)

[2022-02-03 23:42] #187 closed, assigned to nobody

[2022-02-15 15:16] seebq commented on #181
Confirming #182 fixes this issue for us.  CC @kakaday22

[2022-02-19 06:26] gbiggs commented on #181
Thanks for the report.

[2022-02-19 06:26] #181 closed, assigned to nobody

[2022-03-24 11:51] krixkrix opened #192 "test_cpp_client_single_threaded fails with timeout"
This command occasionally fails:
rostest dynamic_reconfigure test_cpp_client_single_threaded.test

example:
[code]

If I change the timeout in the launch file from:
`time-limit="1.0"`
to
`time-limit="2.0"`

it consistently succeeds.
Tested on noetic.

[2022-03-28 09:57] MCFurry commented on #109
Ahh we just ran into the same issue while implementing a reconfigure-client that tries to reconfigure a config including groups.
But this still seems to be an issue present day?

[2022-05-30 15:57] gurunatraj commented on #133
Hi @ben2789 , Could you please share more details on how you used the bind here...

[2022-06-07 20:10] 130s opened #194 "Python API: dynamic_reconfigure.client.Client.get_configuration returns empty"
# Issue

[code]

# Potential fix

I've only skimmed through the codebase so far though, [`get_configuration` is supposed to return `self.config`](https://github.com/ros/dynamic_reconfigure/blob/fa838a778abbaa00502be0fcc6f99bc87c1b634e/src/dynamic_reconfigure/client.py#L119) but I have a feeling `self.config` isn't updated (so, if that is correct, this can simply be a bug. But I'm not just yet sure

[2022-06-23 05:50] janbernloehr commented on #183
Should be fixed by #178

[2022-06-23 22:48] #183 closed, assigned to nobody

[2022-10-06 00:43] SubaruArai commented on #170
Can confirm that this has been fixed. Can someone close this?

[2022-10-07 03:24] #170 closed, assigned to nobody

[2022-11-02 12:52] zimonitrome commented on #44
When I add parameters in a C++ node, the order does not seem to be maintained, only when doing it in a Python node.